Django==5.2.6
ipinfo_django
django-ratelimit
redis
django-ipware
scikit-learn
django-ip-geolocation
celery
python-dotenv
celery[redis]
gunicorn
dj-database-url
psycopg2-binary
whitenoise
djangorestframework 
drf-yasg